*{
	margin: 0;
	padding:0;
	font-family:sans-serif;
   text-decoration: none;
}
.container{
   height:fit-content;
   border-bottom: 3px solid rgba(0, 0, 0, .1);
   display: flex;
   flex-direction: row;
   margin-top:-25px;
}
.header img{
    width: 135px;
    height: 120px;
    margin:0px;
    background-color:#f1f1f1;
}
.header p{
   color:palevioletred;
   margin-top:-40px;
   font-size: 22px;
}
.nav{
   background-color:#f8f8f8;
   height:120px;
   width:100%;
}
.nav ul{
   display: flex;
   list-style-type: none;
   flex-direction: row;
   float:right;
   margin-top:90px;
   justify-content: space-between;
}
.nav ul li{
   font-size: 18px;
   color:red;
   margin:0 50px;
   position: relative;
   cursor: pointer;
}
.nav ul li a{
   color: red;
}
.nav ul li:hover .sub-list{
   display: block;
   position: absolute;
}
.nav ul li .sub-list{
   display:none;
   width:180px;
   position: absolute;
}
.nav ul li .sub-list ul{
   display: flex;
   margin:0px;
   padding:4px 10px;
   flex-direction: column;
   position: relative;
   background-color: #fff;
}
.nav ul li .sub-list ul li{
   margin:3px 0px;
   color:green;
   font-size:17px;
}
.nav ul li .sub-list ul li a{
   color:green;
   font-size: 17px;
}
.nav ul li .sub-list ul li a:hover{
   color:white;
   background-color: green;
   padding:3px 5px;
}
.teacher-list{
   height: 500px;
   padding:20px;
   background-color:palegreen;
   display: flex;
}
.teacher-list img{
   width:400px;
   margin-top: 20px;
   margin-left: 110px;
   height: 450px;
}
.teachers-box{
   margin:20px 10px;
   width:550px;
   height: 450px;
   box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .3);
   background-color: #f9f9f9;
   padding: 10px;
}
.teachers-box p{
   font-size: 20px;
   border-bottom: 1px solid rgba(0, 0, 0, .5);
   margin-bottom: 40px;
   text-align: center;
}
form .form-group{
   display: flex;
   flex-direction: column;
   margin:10px 0px;
}
form .form-group1 label, form .form-group label{
   margin-bottom: 4px;
   font-size: 17px;
   font-weight: normal;
}
form .form-group input{
   height: 20px;
   width:500px;
   border-radius: 5px;
   outline: none;
   border:1px solid rgba(0, 0, 0, .2);
}
form .form-group1{
   margin:8px 0px;
}
form .form-group1 label{
   margin-right: 50px;
}
form .form-group1 input{
   margin-left:40px;
}
form button{
   margin-top: 40px;
   border-radius: 8px;
   padding:5px;
   width:100%;
   font-size: 18px;
   color:#fff;
   background-color:blue;
   outline: none;
   border:none;
   cursor: pointer;
}
